.header {
    background: #ffffff;
    color: #000;
    padding: 1rem 0;
    position: relative;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo img {
        height: 80px;
    }

    &__title {
        text-transform: uppercase;
        font-size: 1.5rem;
        text-align: center;
    }

    &__menu {
        display: flex;
        gap: 2rem;
        list-style: none;
        margin: 0;
        padding: 0;

        @media (max-width: 768px) {
            display: none;
            flex-direction: column;
            gap: 1rem;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            padding: 1rem 1.5rem;
            background-color: green;
        }

        &--open {
            display: flex;
        }
    }

    &__link {
        color: #000;
        text-decoration: none;
        font-weight: 500;
        transition: opacity .2s;

        &:hover {
            opacity: .7;
        }
    }

    /* Burger */
    &__burger {
        display: none;
        background: none;
        border: none;
        cursor: pointer;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
    }

    &__burger-line {
        width: 24px;
        height: 3px;
        background: #000;
        border-radius: 2px;
    }
}